<template>
  <transition name="fade">
    <div v-if="ready" class="docker-layout">
      Test
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      ready: false
    }
  },
  watch: {
  },
  components: {
  },
  computed: {

  },
  methods: {

  },
  mounted() {
    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('My view'))

    // get config
    this.$services.waitForProperty(this.$ws.socket, '_logged').then(() => {
      this.$services.waitForService('config').then(config => {
        config.get().then(cfg => {
          this.ready = true
        }).catch(err => { console.log(err) })
      }).catch(err => { console.log(err) })
    }).catch(err => { console.log(err) })
  },
  beforeDestroy() {

  }
}
</script>

<style>
.docker-layout {
  width: 100%;
  height: 100%;
}
</style>
